<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Openhouse</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <%- include('partials/_navbar.ejs') %>
      <div class="landing-image"></div>
        <h1>Welcome to Openhouse</h1>
        <% if (user) { %>
            <p>Hello, <%= user.username %>!</p>
            <% } else { %>
                <p>Please sign in to access listings.</p>
                <% } %>
</body>

</html>